/* General styling */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

:Root {
    --baggrundsfarve: #F6E9D5;
    ---orangefarve: #F87D24;
    ---sortfarve: black;
    --footerbaggrundsfarve: #EFDFCA;
    }

footer {
    width: 100%;
    background-color: var(--footerbaggrundsfarve);
    padding: 2em;
}

.tekst-radar {
    font-family: "Notable";
    font-size: 40px;
}


@media only screen and (min-width: 320px) {
    footer {
        display: grid;
        grid-template-columns: repeat(2, 1fr);
        text-align: left;
    }

}


@media only screen and (min-width: 768px) {
    footer {
        margin-left: 4rem;
        margin-right: 4rem;
        display: grid;
        grid-template-columns: repeat(2, 1fr); /* fire kolonner */
        gap: 60px;
        text-align: left;
        padding-top: 5em;
        background-color: var(--footerbaggrundsfarve);
      }
    
    .tekst-radar {
        font-family: "Notable";
        font-size: 40px;
        padding-bottom: 40px;
    }
    
    .base, .socialemedier, .kontakt {
        padding-bottom: 40px;
    }
    
    .base, .socialemedier, .kontakt, .åbningstider {
        font-family: "Noticia Text";
        font-size: 20px;
        line-height: 35px;
        letter-spacing: 10%; /* Juster værdien efter behov */
    }
    
    .åbningstider {
        padding-top: 4.7em;
    }
    
    .bold {
        font-weight: bold;
    }
}


/* Laptop*/
@media only screen and (min-width: 992px) {
    
    footer {
        width: 100%;
        margin: 0 auto;
        display: grid;
        grid-template-columns: repeat(3, 1fr); /* fire kolonner */
        gap: 60px;
        text-align: left;
        padding-top: 5em;
        background-color: var(--footerbaggrundsfarve);
      }
    
    .venstre-side {
        padding-left: 7.5em;
    }

    .tekst-radar {
        font-family: "Notable";
        font-size: 40px;
        padding-bottom: 40px;
    }
    
    .base, .socialemedier {
        padding-bottom: 3em;
    }
    
    .base, .socialemedier, .kontakt, .åbningstider {
        font-family: "Noticia Text";
        font-size: 20px;
        line-height: 40px;
        letter-spacing: 10%; /* Juster værdien efter behov */
    }
    
    .kontakt {
        padding-left: 6.5em;
        padding-top: 5em;
    }

    .åbningstider {
        padding-left: 6em;
        padding-top: 5em;
    }
    
    .bold {
        font-weight: bold;
    }

    .venstre-side2 {
        display: grid;
        grid-template-columns: repeat(3, 1fr); /* fire kolonner */
    }

    }
    