/* General styling */
* {
    margin: 0 auto;
    padding: 0;
    box-sizing: border-box;
}

:Root {
    --baggrundsfarve: #F6E9D5;
    --footerbaggrundsfarve: #EFDFCA;
    }

footer {
    width: 100%;
    background-color: var(--footerbaggrundsfarve);
    padding: 2em;
    font-size: 10px;
    font-family: "Noticia Text";
    line-height: 20px;
    letter-spacing: 0.5px;
}

.tekst-radar {
    font-family: "Notable";
    font-size: 20px;
}

.venstre-side {
    padding-top: 1.5rem;
    padding-bottom: 0rem;
  }

.bold {
    font-weight: bolder;
  }

.tider {
    padding-top: 1.2rem;
}

/* tablet */
@media only screen and (min-width: 768px) {
footer {
    font-family: "noticia text";
    font-size: 15px;
    line-height: 30px;
    gap: 30px;
    text-align: left;
    display: grid;
    grid-template-columns: repeat(2, 1fr); /* to kolonner */
  }


.tekst-radar {
    font-size: 30px;
    padding-bottom: 1.5rem;
}

.venstre-side {
    padding-top: 1.5rem;
    padding-bottom: 0.7rem;
  }

.tider {
    padding-top: 7.5em;
}
}

/* Laptop*/
@media only screen and (min-width: 1024px) {
footer {
    font-size: 20px;
    display: grid;
    grid-template-columns: repeat(3, 1fr); /* tre kolonner */
  }

.tider {
    padding-top: 5.5em;
}

}