* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

:Root {
    --baggrundsfarve: #F6E9D5;
    --orangefarve: #F87D24;
    --sortfarve: #000;
    }

body {
    background-color: var(--baggrundsfarve);
    width: 100%;
    }

h1 {
    font-family: "Anton SC";
    color: var(--orangefarve);
    font-size: 1.3rem;
    text-align: left;
    padding-top: 4.8em;
    padding-left: 2rem;
    letter-spacing: 1.5px;
    padding-bottom: 1rem;
}

.person {
    width: 50%;
    padding-left: 2rem;
    padding-bottom: 2rem;
}

h2 {
    font-family: "Anton SC";
    color: var(--orangefarve);
    font-size: 1.3rem;
    text-align: left;
    padding-left: 2rem;
    padding-bottom: 1rem;
    letter-spacing: 1.5px;
}

h3 {
    font-family: "Montserrat";
    color: var(--orangefarve);
    font-size: 1.2rem;
    text-align: left;
    padding-left: 2rem;
    padding-bottom: 0.4rem;
    font-weight: 400;
}

.lille-tekst {
    font-family: "Montserrat";
    color: var(--sortfarve);
    font-size: 0.9rem;
    text-align: left;
    padding-left: 2rem;
    padding-right: 3rem;
    padding-bottom: 6em;
    line-height: 2em;
}


.lille-tekst2 {
    font-family: "Montserrat";
    color: var(--sortfarve);
    font-size: 0.9rem;
    text-align: left;
    padding-left: 2rem;
    padding-right: 6rem;
    padding-bottom: 2em;
    line-height: 2em;
} 

.udenfor-box {
    padding-right: 4.5em; /* Beholder plads til højre */
    display: grid;
    justify-content: start; /* Placerer alle elementer til venstre */
    padding-left: 2em;
}

.box {
    background-color: var(--orangefarve);
    padding: 20px;
    width: 11em;
    height: auto;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    margin-bottom: 30px;
}
  
.concert-text {
    font-family: "Montserrat";
    font-size: 16px;
    color: black;
    margin-bottom: 10px;
    text-align: center;
    padding-top: 3em;
}

.points {
    font-family: "Montserrat";
    background-color: #a1a1a1; /* grå baggrund */
    color: white;
    font-size: 16px;
    padding: 10px;
    text-align: right;
    cursor: pointer; /* Ændrer musemarkøren til en hånd */
    text-decoration: none; /* Fjerner standard understrikning på linket */
    transition: background-color 0.3s; /* Tilføjer en overgangseffekt */
}

.points:hover {
    background-color: #8a8a8a; /* Ændrer baggrundsfarven ved hover */
} 


  /* tablet */
@media only screen and (min-width: 768px) {
h1 {
    font-size: 2rem;
    padding-top: 4.6em;
    padding-left: 2.8rem;
}

.lille-tekst2 {
    font-size: 1.2rem;
    padding-right: 22rem;
}

h2 {
    font-size: 2.6rem;
}

h3 {
    font-size: 1.7rem;
}

.lille-tekst {
    padding-right: 18rem;
    font-size: 1.2rem;
}

.udenfor-box {
    display: grid;
    grid-template-columns: auto auto auto; /* 3 kolonner med tættere layout */
    gap: 2em; /* Reducér mellemrummet */
    padding-top: 1em;
    padding-left: 2em;
    padding-bottom: 3em;
    justify-content: start; /* Holder gridet tæt til venstre */
}


.box {
    width: 12em; /* Tilpas størrelsen af boksene */
    height: auto;
    margin: 0; /* Fjern eventuelle margener for at undgå ekstra afstand */
}
}
  

/* Laptop */
@media only screen and (min-width: 1024px) {

h1 {
    padding-top: 6em;
    padding-left: 2.8rem;
}

.boks {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
}

.person {
    padding-top: 11em;
    width: 75%;
    align-items: end;
    display: grid;
    padding-left: 10em;
}

.lille-tekst2 {
    padding-right: 4rem;
    font-size: 1.3rem;
    padding-left: 2.8rem;
}

h2 {
    font-size: 2rem;
    padding-left: 2.8rem;
}

h3 {
    font-size: 2rem;
    padding-left: 2.8rem;
}

.lille-tekst {
    padding-right: 35rem;
    font-size: 1.3rem;
    padding-left: 2.8rem;
}

.udenfor-box {
    grid-template-columns: repeat(3, 1fr);
}

.box {
    width: 13em;
    height: 13em;
    font-size: 1.4rem;
}

}

/* Ekstra laptop device */
@media only screen and (min-width: 1200px) {
.udenfor-box {
    padding-right: 10em;
}
}