* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

:Root {
    --baggrundsfarve: #F6E9D5;
    --orangefarve: #F87D24;
    }

.logo {
    width: 95px; /*størrelsen på logo*/
}

header {
    font-family: 'notable';
    text-transform: uppercase;

    background-position: center;

    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    background: var(--baggrundsfarve) 57%; 
    padding-top: 15px;
    z-index: 1000;
}

header .navbar ul {
    list-style: none; /*Fjerner bullet prikkerne*/
    display: flex; /* Gør listen horisontal */
}


header .navbar ul li {
    position: relative;
}

header .navbar ul li a {
    text-decoration: none;
    font-size: 18px;
    padding: 18px;
    color: var(--orangefarve);
    letter-spacing: 2px;
    display: block;
}


header .navbar ul li a:hover {
    background: white; /*Ændre farven her*/ /*Her ændre man farven på baggrunden, når man køre musen over teksten*/
    color: var(--orangefarve);
}

header .navbar ul li ul {
    position: absolute;
    left: 0;
    width: 200px;
    background: var(--orangefarve);
    display: none;
}

header .navbar ul li ul li {
    width: 100%;
    border-top: 1px solid rgba(0,0,0,0.1);
}

header .navbar ul li ul li ul {
    left: 200px;
    top:0;
}

header .navbar ul li ul li a {
    color: var(--orangefarve); /* Gør teksten synlig */
    background: var(--baggrundsfarve); /* Sørger for, at baggrunden står i kontrast */
    font-size: 16px;
    letter-spacing: 1.4px;
}

header .navbar ul li:focus-within > ul,
header .navbar ul li:hover > ul {
    display: block;
}

#menu-bar {
    display: none;
}


header label {
    font-size: 20px;
    color: #333;
    cursor: pointer;
    display: none;
}

/*menu-ikonet*/
header .menu-icon {
    display: none; /* Skjult som standard */
    font-size: 4em;; /* Størrelse på hamburgermenuen */
    cursor: pointer; /* Gør det klart, at det er klikbart */
    color: var(--orangefarve); /* Samme farve som dine links */
    position: absolute;
    top: 20px; /* Justér, så det passer til din header */
    right: 20px; /* Placer det helt til højre */
    z-index: 1001;
}



@media(max-width:1006px){
header .menu-icon {
    display: block;
}

header .navbar {
    display: none;
}

#menu-bar:checked ~ .navbar {
    display: block; /* Vis navbaren, når hamburgermenuen er aktiveret */
    position: relative;
    /*top: 60px; /* Lige under headeren */
    left: 0;
    right: 0;
    background: var(--baggrundsfarve); /* Baggrund for menuen */
    z-index: 999; /* Sørg for, at menuen vises øverst */
    padding: 10px;
}

header .navbar ul {
    display: flex;
    flex-direction: column; /* Vertikal liste */
    gap: 10px;
}

header .navbar ul li {
    text-align: center; /* Centrer elementerne */
}

header .navbar ul li ul {
    position: relative;
}


header .navbar ul li ul li a {
font-size: 14px;
}


.bigphoto {
    width: 100%;
    padding-top: 8em;
}
}