* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

:Root {
--baggrundsfarve: #FBDFB9 57%;
---orangefarve: #F87D24;
---sortfarve: black;
}

body {
    background-color: var(--baggrundsfarve)
    }


.bigphoto {
    width: 100%;
}

.overskrift {
    font-family: "Anton SC";
    color: var(---orangefarve);
    font-size: 48px;
    text-align: center;
}

.undertekst {
    font-family: "Montserrat";
    color: black;
    font-size: 25px;
    text-align: center;
    padding: 20px;
}
