* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

:Root {
--baggrundsfarve: #F6E9D5;
---orangefarve: #F87D24;
---sortfarve: black;
--navbar-height: 6em; /* Juster højden her */
}

body {
    background-color: var(--baggrundsfarve)
    }


.bigphoto {
    width: 100%;
    padding-top: var(--navbar-height);
}

.overskrift {
    font-family: "Anton SC";
    color: var(---orangefarve);
    font-size: 48px;
    text-align: center;
}

.undertekst {
    font-family: "Montserrat";
    color: black;
    font-size: 25px;
    text-align: center;
    padding: 20px;
}
